
/* .card{
    display: flex;
    position: relative;
    width: 100%;
    margin: 2% 0%;
}  */
.cards{
    position: relative;
     border: 1px solid;
    border-radius: 20px;
    margin: 2% 2%;
    justify-content: space-around;
  }

  .likeCount{
    font-size: large;
    text-align: center;
    font-weight: 700;
  }